.game__container {
    border: 2px solid #fff;
    width: 60%;
    height: 400px;
    position: relative;
}
.snake__dot, .snake__food {
    position: absolute;
    height: 2%;
    width: 2%;
    background: #fff;
    border: 1px solid #000;
    z-index: 2;
}

.snake__food
{
    z-index: 1;
    background: #fff;
}